section {
    clear: both;
}

.pad,
.wave {
    width: 100px;
    height: 100px;
    float: left;
    display: inline-block;
    margin: 10px;
    background: orange;
}

.wave {
    background: purple;
}
